{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark shadow-sm" >
    <div class="container">
      <a class="navbar-brand d-flex align-items-center gap-2 text-white" href="{% url 'pages:main' %}">
        <i class="bi bi-cash-coin fs-4"></i>
        <span class="fw-bold">CashFlowViewer</span>
      </a>
      
      {% with request.resolver_match.view_name as view_name %}
      <div class="ms-auto">
        <a href="{% url 'cashflow:create' %}" class="btn btn-outline-light">
          + Создать запись
        </a>
      </div>
      {% endwith %}
    </div>
  </nav>
</header>