{% extends "base.html" %}
{% block title %}
  Лента записей
{% endblock %}
{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Тип</th>
            <th>Категория</th>
            <th>Подкатегория</th>
            <th>Сумма</th>
            <th>Комментарий</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for record in page_obj %}
        <tr>
            <td>{{ record.date|date:"d.m.Y" }}</td>
            <td>{{ record.type.name }}</td>
            <td>{{ record.category.name }}</td>
            <td>{{ record.subcategory.name }}</td>
            <td>{{ record.amount }} {{ record.get_currency_display }}</td>
            <td>{{ record.comment }}</td>
            <td>
                <a href="{% url 'cashflow:update' record.pk %}" class="btn btn-sm btn-warning">Редактировать</a>
                <a href="{% url 'cashflow:delete' record.pk %}" class="btn btn-sm btn-danger">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  {% include "includes/paginator.html" %}
{% endblock %}